@font-face {
    font-family: 'Fivo Sans Modern';
    src: url('FivoSansModern-Regular.otf');
}

* {
    box-sizing: border-box;
}

main {
    font-family: 'Fivo Sans Modern';
}

div#steps {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

div.plan {
    padding: 0px 20px;
}

div.recommended-plan-notice {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

div.plan-content {
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 20px;
    height: 400px;
    position: relative;
    transition: border-color 0.25s, box-shadow 0.25s;
}

div.plan-content:hover {
    border-color: rgb(25, 115, 255);
    box-shadow: 0px 0px 5px 0px rgba(25, 115, 255, 0.75);
}

div.plan-price {
    font-size: 65px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

div.actions-wrapper {
    padding-bottom: 20px;
}

div.actions-wrapper > button {
    width: 40%;
}

div.actions-wrapper > button:nth-child(2) {
    float: right;
}

h2 {
    text-align: center;
    font-size: 60px;
    margin: 30px 0px;
}

h4 {
    text-align: center;
    font-size: 45px;
    margin: 0px;
    margin-bottom: 20px;
}

form {
    width: 500px;
    margin: 0px auto;
}

input, button {
    height: 60px;
    border-radius: 20px;
    padding: 20px;
}

input {
    width: 100%;
    margin-bottom: 30px;
    border: 2px solid lightgray;
    font-size: 20px;
    transition: border-color 0.25s, box-shadow 0.25s;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(25, 115, 255, 0.75);
    border-color: rgb(25, 115, 255);
}

button {
    border: none;
    font-weight: bold;
    background-color: rgb(25, 115, 255);
    color: white;
    transition: background-color 0.25s;
}

button:hover {
    background-color: rgb(59, 134, 255);
}
